<h2 class="text-center">Todo Form</h2>
<div class="card">
    <div class="card-body">
        <form #todoForm ="ngForm" (ngSubmit)="onAddTodo()">
            <div class="form-group">
                <label for="todoItem">TodoItem <sup class="text-danger">*</sup></label>
                <input type="text" id="todoItem" name="todoItem" ngModel #todoItem="ngModel" required class="form-control">

                <p class="text-danger" *ngIf="todoItem.touched && todoItem.hasError('required')">
                    TodoItem field is required!!!
                </p>
            </div>

            <button class="btn btn-block btn-primary">Add Todo</button>
        </form>
    </div>
</div>
